<table mat-table [dataSource]="listaProdutos" class="mat-elevation-z8">

    <ng-container matColumnDef="Product">
        <th mat-header-cell *matHeaderCellDef> Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.Product}} </td>
    </ng-container>


    <ng-container matColumnDef="Preco">
        <th mat-header-cell *matHeaderCellDef> Preço unitário </th>
        <td mat-cell *matCellDef="let element"> {{element.Preco}} </td>
    </ng-container>








    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>