<mat-card>
    <mat-card-content>
        <h3><strong>Pandas</strong></h3>
        <p>
            O Pandas é uma biblioteca de análise de dados em Python. Ele oferece estruturas de dados eficientes e
            flexíveis para manipulação e análise de tabelas e séries temporais. O Pandas é amplamente utilizado para
            carregar, limpar, transformar e analisar dados, sendo uma ferramenta essencial em projetos de ciência de
            dados e análise estatística.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <h3><strong>Matplotlib</strong></h3>
        <p>
            O Matplotlib é uma biblioteca de visualização de dados em Python. Ele fornece uma ampla variedade de opções
            para criar gráficos e visualizações de alta qualidade. Do básico ao avançado, o Matplotlib oferece a
            capacidade de representar informações complexas de maneira intuitiva, sendo uma escolha popular entre
            cientistas de dados e pesquisadores.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <h3><strong>Flask (API)</strong></h3>
        <p>
            Flask é um framework leve para desenvolvimento web em Python. Ele é frequentemente usado para criar APIs
            (interfaces de programação de aplicativos) que permitem que aplicativos e serviços se comuniquem entre si.
            Com o Flask, é possível criar APIs eficientes e escaláveis que podem ser usadas para fornecer dados e
            funcionalidades a outras aplicações.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <h3><strong>Angular</strong></h3>
        <p>
            Angular é uma plataforma de desenvolvimento para construção de aplicativos web dinâmicos. Baseado em
            TypeScript, o Angular oferece uma estrutura robusta para criar interfaces de usuário interativas e
            responsivas. Com recursos como componentes reutilizáveis, injeção de dependência e roteamento, o Angular é
            uma escolha popular para desenvolvedores front-end na criação de aplicativos web modernos.
        </p>
    </mat-card-content>
</mat-card>