
<div >

<mat-card>
    <mat-card-content>
        <h2><strong>Dicionario de dados</strong></h2>
        <ul>
            <li><code><strong>Order ID</strong></code> - Um ID de pedido é o sistema numérico que a Amazon usa exclusivamente para
                rastrear
                pedidos. Cada pedido recebe seu
                próprio ID de pedido que não será duplicado. Este número pode ser útil para o vendedor ao tentar
                descobrir
                certos
                detalhes sobre um pedido, como data de envio ou status.</li>
            <li><code><strong>Produto</strong></code> - O produto que foi vendido.</li>
            <li><code><strong>Quantidade</strong></code> - A quantidade total de itens encomendados no pedido inicial (sem nenhuma
                alteração).
            </li>
            <li><code><strong>Preço unitário</strong></code> - The price of each products.</li>
            <li><code><strong>Data de Compra</strong></code> - Esta é a data em que o cliente solicita o envio do pedido. </li>
            <li><code><strong>Endereço de Envio</strong></code> - O pedido de compra é preparado pelo comprador, muitas vezes por meio de
                um
                departamento de compras. A ordem de compra,
                ou PO, geralmente inclui um número de PO, que é útil para combinar remessas com compras; uma data de
                envio;
                Endereço de
                Cobrança; Endereço para envio</li>
        </ul>
    </mat-card-content>
</mat-card>
    

    
</div>


<mat-card>
    <mat-card-content><h2><strong>Objetivo</strong></h2>
    <p>Analisar os dados de vendas da Amazon para extrair informações relevantes sobre:</p>
    <li>Cidades em que gerão mais lucratividade</li>
    <li>Produtos com maior fluxo de saída</li>
    <li>Produtos que geram mais receita</li>
    <li>Construção da série temporal para analisar os dias, semas e meses com mais vendas e tendências</li>
    <li>Horarios do dia com maior fluxo de pedidos</li>
    <h2><strong>Fonte dos Dados</strong></h2>
    <ul>
        <li><a rel="noreferrer nofollow" target="_blank"
                href="https://www.kaggle.com/datasets/knightbearr/sales-product-data?select=Sales_August_2019.csv">https://www.kaggle.com/datasets/knightbearr/sales-product-data?select=Sales_August_2019.csv</a>
        </li>
    
    </ul></mat-card-content>
</mat-card>