

<button mat-button [matMenuTriggerFor]="aboveMenu">Analises</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="/analise-descritiva">Análise Descritiva das Vendas</button>
    <button mat-menu-item routerLink="/serie-temporal">Análise da Série Temporal das Vendas</button>
</mat-menu>



<button mat-button [matMenuTriggerFor]="belowMenu">Dados</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/cursos/lista">Vendas</button>
    <button mat-menu-item routerLink="/cursos/grade">Produtos</button>
</mat-menu>





<button mat-button [matMenuTriggerFor]="afterMenu">Notas</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/calendario">Sobre os dados</button>
    <button mat-menu-item>Ferramentas</button>
</mat-menu>
















