<br>


<mat-card>
    <mat-card-content>
        <div class="row">
        
            <img [src]="vendasByProduto" alt="Produtos com mais vendas" style="width: 50%;">
            <img [src]="vendasBySales" alt="Produtos com mais arrecadação" style="width: 50%;">
        </div>
        
        
        <div class="row">
            <div class="col-xxl-12">
                <img [src]="histogramaProdutos" alt="histopgramas de pedidos compostos" style="width: 50%;">
                <img [src]="vendasByCity" alt="cidades com mais vendas" style="width: 50%;">
            </div>
        </div>
        
        <div class="row">
            <div class="col-xxl-12">
        
                <img [src]="vendasByHorario" alt="distribuição de pedidos por horario" style="width: 100%;">
        
            </div>
        </div>
    </mat-card-content>
</mat-card>



